.App {
  color: #87949e;
  font-weight: 400;
  padding: 2em;
}
.container {
  width: 48%;
}
.details div {
  background: #f8f8f9;
  border-radius: 3px;
  padding: 0.8em;
  margin-bottom: 1em;
}
.list-header {
  background: #f8f8f9;
  display: flex;
  justify-content: space-between;
}
.list-item {
  border-bottom: 1px solid #f8f8f9;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.list-item:hover {
  background: #f8f8f9;
}
.main-container {
  display: flex;
  justify-content: space-between;
}
.title {
  color: #489dff;
  border-bottom: 1px solid #f8f8f9;
}
.title h2 {
  font-weight: 700;
}
p {
  padding: 10px;
}
h2 {
  font-weight: 400;
}
select {
  margin-right: 1em;
  cursor: pointer;
}
